@model Entidades.Models.Complementario;

@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container text-center">
    <h1 class="display-4">@ViewBag.Paciente.Nombre @ViewBag.Paciente.Apellido</h1>
    <h4>Datos complementarios (crear)</h4>
    <br />
    <form action="/Complementario/create" method="POST">
        <div class="row">
            <div class="col">
                <label class="form-label" for="ParajeResidencia">Paraje de Residencia: </label>
                <input class="form-control" type="text" name="ParajeResidencia" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="EstadoCivilId">Estado Civil: </label>                
                <select class="form-control" name="EstadoCivilId">
                    @foreach (Entidades.Models.EstadoCivil estadoCivil in ViewBag.EstadoCivil)
                    {
                        <option selected value=@estadoCivil.Id>@estadoCivil.Descripcion</option>

                    }                    
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="Ocupacion">Ocupacion: </label>
                <input class="form-control" type="text" name="Ocupacion" value="" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="SabeLeer">Sabe Leer? </label>
                <select class="form-control" name="SabeLeer">
                    <option value=0>Elija una opción</option>
                    <option value=1>Si</option>
                    <option value=0>No</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="EscolaridadId">Escolaridad: </label>
                <select class="form-control" name="EscolaridadId" id="EscolaridadId" onChange="check_escolaridad_value()">
                    @foreach (Entidades.Models.Escolaridad escolaridad in ViewBag.Escolaridad)
                    {
                        <option selected value=@escolaridad.Id>@escolaridad.Descripcion</option>
                    }
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="EscolaridadCompleta">Escolaridad Completa? </label>
                <select class="form-control" name="EscolaridadCompleta" id="EscolaridadCompleta" disabled>
                    <option value=0>Elija una opción</option>
                    <option value=1>Si</option>
                    <option value=0>No</option>
                </select>
            </div>                        
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="Notas">Notas: </label>
                <textarea name="Notas" class="form-control" cols="120" rows="8"></textarea>
            </div>
        </div>
        <br />
        <input type="number" name="PacienteId" value=@ViewBag.PacienteID hidden />
        <input class="btn btn-lg btn-success" type="submit" name="agregar" value="Agregar Datos complementarios" />
        <a class="btn btn-lg btn-danger" href="/Paciente/viewDetails/@ViewBag.PacienteID">Cancelar</a>
    </form>
</div>
