@{
    ViewData["Title"] = "La Higuera";
}

<div class="text-center">
    <img width="400" src="../img/LaHiguera_logo.png">
    <h1 class="display-4">Bienvenido a la app de historias clínicas</h1>
</div>

@section Scripts {
    <script async>
        const element = document.getElementById('footer-disclaimer');
        const disclaimerElement = document.createElement('p')
        disclaimerElement.innerHTML = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc semper molestie quam vel ornare. Suspendisse in risus quis neque posuere eleifend.";
        element.appendChild(disclaimerElement);
    </script>
}