@model Entidades.Models.Paciente;

@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Alta de Paciente</h1>
    <br />
    <form action="/Paciente/CreatePatient" method="post">
        <div class="row">
            <div>
                Nombre: <input type="text" name="nombre" value="" />
            </div>
            <div>
                Apellido: <input type="text" name="apellido" value="" />
            </div>
        </div>
        
        <div>
            Dni: <input type="number" name="Dni" value="" />
        </div>
        <div>
            Fecha de Naciemiento: <input type="date" name="FechaNac" value="" />
        </div>
        <div>
            Sexo: 
                <select name="Sexo">
                    <option value="femenino">Femenino</option>
                    <option value="masculino">Masculino</option>
                </select>
        </div>
        <div>
            Paraje de atención: <input type="text" name="ParajeAtencion" value="" />
        </div>
        <div>
            Activo: 
                <select name="FlgActivo">
                    <option value=1>Activo</option>
                    <option value=0>No activo</option>
                </select>
        </div>
        <div>
            Fecha de Alta: <input type="date" name="FechaAlta" value="" />
        </div>
        <br />
        <input class="btn btn-primary" type="submit" name="agregar" value="agregar" />
    </form>
</div>
