@model Entidades.Models.Paciente;

@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Crear paciente</h1>
    <form action="/Paciente/CreatePatient" method="post">
        <div>
            Nombre: <input type="text" name="nombre" value="" />
        </div>
        <div>
            Apellido: <input type="text" name="apellido" value="" />
        </div>
        <div>
            DNI: <input type="number" name="Dni" value="" />
        </div>
        <div>
            Fecha de Naciemiento: <input type="date" name="FechaNac" value="" />
        </div>
        <div>
            Sexo: <input type="text" name="Sexo" value="" />
        </div>
        <div>
            Paraje de atención: <input type="text" name="ParajeAtencion" value="" />
        </div>
        <div>
            Activo: <input type="text" name="FlgActivo" value="" />
        </div>
        <div>
            Fecha de Alta: <input type="date" name="FechaAlta" value="" />
        </div>

        <input type="submit" name="agregar" value="agregar" />
    </form>
</div>
